/* Estilo da pagina */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #343a40;
}

.body1 {
    background-color: #809c7c;
}

#navlogo-carrinho-mainpage {
    margin-bottom: 80px;
}

/* Container principal */
.container {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 150px;
}

/* Tabela */
.table {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    table-layout:fixed;
    width: 100%;
}

.table thead {
    background-color: #495057;
    color: #ffffff;
    text-align: center;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #dee2e6;
    word-wrap: break-word;
    max-width: 150px;
}

.table tbody tr:hover {
    background-color: #f1f3f5;
    transition: background-color 0.3s ease;
}

/* Total */
#total-price {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #495057;
}

/* Botão de finalizar compra */
#finalizar-compra {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

#finalizar-compra:hover {
    background-color: #495057;
    cursor: pointer;
}

#popup-confirmation{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Botão de remover */
.btn-danger {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}

/* Estilo da Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#BuyerName {
    border: 1px solid #aaa;
    border-radius: 4px;
}

#btnCofirm {
    margin-top: 10px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
